body {
    font-family: 'Manrope', sans-serif;
}

.div-1 {
    margin-top: 56px;

}

.bg {
    background: rgba(99, 96, 171, 1);
    color: rgba(255, 255, 255, 1);
    padding: 16px 64px;
    border-radius: 4px;
}


.img-width {
    margin-top: 120px;
}

.img-width img {

    width: 613px;
    height: 338px;
}

.last-font {
    color: rgba(0, 0, 0, 1);
    opacity: 0.6;
    margin-top: 86px;
    margin-bottom: 232px;
}

.icon {
    height: 20px;
    width: 20px;
    margin-right: 14px;
}